/* .logo{
  color: aqua !important;
} */

.link {
  margin-left: 40px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

.home_container .parent {
  display: flex;
  justify-content: space-between;
}

.para {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  

}

.heading {
  font-size: 50px;
  font-weight: bold;
}

.home_container .parent .left_div{
  margin-top: 95px;
  max-width: 530px
}

.nav-color{
  background-color: #171c28 !important;
}




#btn-1 {
  margin-top: 50px;
  background-color: black;
  border: 1px solid black;
  color: #fff;
  font-weight: 500;
  width: -webkit-max-content;
  width: max-content;
  padding: 10px 10px;
  margin-right: 50px;

  text-transform: uppercase;
  border-radius: 6px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;

  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
}

.logo {
  color: #fff !important;
  font-family: Montserrat,"Montserrat",sans-serif;
  font-weight: 700;
}

#btn-2 {
  margin-top: 50px;
  background-color: black;
  border: 1px solid black;
  color: #fff;
  font-weight: 500;
  width: -webkit-max-content;
  width: max-content;
  padding: 10px 10px;
  margin-right: 50px;

  text-transform: uppercase;
  border-radius: 6px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;

  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
}



.fa-github {
  color: black;
    border-radius: 4.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.5rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    width: 2.6rem;
    background-color: white;
    transition: .2s ease-in;
}

.fa-envelope {
  color: red;
    border-radius: 4.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.5rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    width: 2.6rem;
    background-color: white;
    transition: .2s ease-in;

}

.fa-linkedin{
  border-radius: 4.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.5rem;
  height: 2.6rem;
  line-height: 2.6rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  width: 2.6rem;
  background-color: white;
  transition: .2s ease-in;
}


.fa-facebook{

  border-radius: 4.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.5rem;
  height: 2.6rem;
  line-height: 2.6rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  width: 2.6rem;
  background-color: white;
  transition: .2s ease-in;
}


.home_container{
  min-height:85vh;
  width:100%
}

.home_container .parent .right_div{
  margin-top: 70px;
  max-width: 530px;
}

.right_div > img{
  width: 700px;
  padding-right: 20px;

}



.about-inner{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.about-inner .left{
  max-width: 530px;

}

.about-para{
  margin-top: 50px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  
  font-size: 20px;
  text-transform: capitalize;
  line-height: 35px;
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=DynaPuff&family=Lobster+Two&family=Macondo&family=Open+Sans:wght@500&family=Poppins:wght@500;600;700&family=Roboto:ital,wght@0,300;1,300&family=Rubik+Dirt&family=Work+Sans:wght@400;500&display=swap');
.right{
  max-width: 430px;
}

.right>img{
  border-radius: 360px;
}

.name{
  color: purple;
}

.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-div{
  margin-top: 20px;
}

.productBtn{
  margin-top: 10px;
  width: 100%;
}

.footer-background{
  background-color: #171c28;
}

.bg-header{
  background-color: #171c28;

}